<!DOCTYPE html>
<html>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <!--
    <head>
       <title>Basketball</title>
       <link rel="stylesheet" href="Css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="box-1">
                <h1>Basketball is my favorite sport</h1>
                <p>I like the way they dribble up and down the court
                Just like I'm the king on the microphone
                So is Dr. J and Moses Malone
                I like slam dunks, take me to the hoop
                My favorite play is the alley-oop
                I like the pick-and-roll, I like the give-and-go
                'Cause it's basketball, uh, Mister Kurtis Blow</p>
            </div>
            <div class="box-2">
                <h1>They're playing basketball</h1>
                <p>I used to go to dinner, then take the girl
                    To see Tiny play against Earl The Pearl
                    And Wilt, Big O, and Jerry West
                    Play basketball at its very best
                    Basketball has always been my thing
                    I like Magic, Bird, and Bernard King
                    And number 33, my man Kareem
                    Is the center on my starting team</p>
            </div>

            <div class="categories">
                <h2>Categories</h2>
                <ul>
                    <li><a href="#">Category 1</a></li>
                    <li><a href="#">Category 2</a></li>
                    <li><a href="#">Category 3</a></li>
                    <li><a href="#">Category 4</a></li>
                </ul> 
            </div>

            <form class="my-form">
                <div class="form-group">
                    <label>Name: </label>
                    <input type="text" name="name">
                </div>
                <div class="form-group">
                    <label>Email: </label>
                    <input type="text" name="email">
                </div>
                <div class="form-group">
                    <label>Message: </label>
                    <textarea name="message"></textarea>
                </div>
                <input class="button" type="submit" value="Submit" name="">
            </form>

            <div class="block">
                <h3>Heading</h3>
                <p>GSsdkskjbalsdhf,bsdjassf</p>
            </div>
            <div class="block">
                <h3>Heading</h3>
                <p>GSsdkskjbalsdhf,bsdjassf</p>
            </div>
            <div class="block">
                <h3>Heading</h3>
                <p>GSsdkskjbalsdhf,bsdjassf</p>
            </div>

            <div class="clr"></div>

            <div id="main-block">
                <h3>Heading</h3>
                <p>GSsdkskjbalsdhf,bsdjassf</p>
            </div>

            <div id="sidebar">
                <p>GSsdkskjbalsdhf,bsdjassf</p>
            </div>
        </div><!-- ./container -->

        <div class="bg-gray-50">
          <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
            <h2 class="text-3xl leading-9 font-extrabold text-gray-900 sm:text-4xl sm:leading-10">
              Frequently asked questions
            </h2>
            <div class="mt-6 border-t-2 border-gray-200 pt-6">
              <dl>
                <div class="md:grid md:grid-cols-12 md:gap-8">
                  <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
                    What's the best thing about Switzerland?
                  </dt>
                  <dd class="mt-2 md:mt-0 md:col-span-7">
                    <p class="text-base leading-6 text-gray-500">
                      I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.
                    </p>
                  </dd>
                </div>
                <div class="mt-8 border-t border-gray-200 pt-6 md:grid md:grid-cols-12 md:gap-8">
                  <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
                    How do you make holy water?
                  </dt>
                  <dd class="mt-2 md:mt-0 md:col-span-7">
                    <p class="text-base leading-6 text-gray-500">
                      You boil the hell out of it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aut tempora vitae odio inventore fuga aliquam nostrum quod porro. Delectus quia facere id sequi expedita natus.
                    </p>
                  </dd>
                </div>
                <div class="mt-8 border-t border-gray-200 pt-6 md:grid md:grid-cols-12 md:gap-8">
                  <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
                    What do you call someone with no body and no nose?
                  </dt>
                  <dd class="mt-2 md:mt-0 md:col-span-7">
                    <p class="text-base leading-6 text-gray-500">
                      Nobody knows. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, voluptas ipsa quia excepturi, quibusdam natus exercitationem sapiente tempore labore voluptatem.
                    </p>
                  </dd>
                </div>
                <div class="mt-8 border-t border-gray-200 pt-6 md:grid md:grid-cols-12 md:gap-8">
                  <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
                    Why do you never see elephants hiding in trees?
                  </dt>
                  <dd class="mt-2 md:mt-0 md:col-span-7">
                    <p class="text-base leading-6 text-gray-500">
                      Because they're so good at it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.
                    </p>
                  </dd>
                </div>
                <div class="mt-8 border-t border-gray-200 pt-6 md:grid md:grid-cols-12 md:gap-8">
                  <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
                    Why can't you hear a pterodactyl go to the bathroom?
                  </dt>
                  <dd class="mt-2 md:mt-0 md:col-span-7">
                    <p class="text-base leading-6 text-gray-500">
                      Because the pee is silent. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, quas voluptatibus ex culpa ipsum, aspernatur blanditiis fugiat ullam magnam suscipit deserunt illum natus facilis atque vero consequatur! Quisquam, debitis error.
                    </p>
                  </dd>
                </div>
                <div class="mt-8 border-t border-gray-200 pt-6 md:grid md:grid-cols-12 md:gap-8">
                  <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
                    Why did the invisible man turn down the job offer?
                  </dt>
                  <dd class="mt-2 md:mt-0 md:col-span-7">
                    <p class="text-base leading-6 text-gray-500">
                      He couldn't see himself doing it. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet perspiciatis officiis corrupti tenetur. Temporibus ut voluptatibus, perferendis sed unde rerum deserunt eius.
                    </p>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
        
